# Archivos de construcción e instalación
.gradle/
build/
bin/

# Archivos de configuración de IDEs
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

# Archivos de sistema y propiedades locales
local.properties
.DS_Store
Thumbs.db
